.success, .error {
    color: rgb(255, 0, 0);
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}
body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%230152de' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.img{
    max-width: 8%; float: right;
}
.bg-dark {
    background-color: #292525 !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(0, 0, 0);
    background-clip: border-box;
    border: 1px solid rgb(247, 245, 245);
    width: 400 px;
  }
  
  .btn-primary {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-color: #09e2ff;
}
#product-list{
    display: flex;
flex-wrap: wrap;
}
#product-list div .card{
    width: 100%;
    color: white;
}

#product-list div{
    width: 48%;
    margin-left: 10px;
}
.card-body{
    width: 100%;
}